@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    background-color: rgb(243, 188, 105)
}
.content{
    width: 1000px;
    margin: auto
}
.sanpham{
    width: calc(1000px / 3 - 20px);
    float: left;
    background-color: aliceblue;
    margin: 10px
}
.hinhsp{
    width: 40%;
    float: left;
}
.thongtin{
    width: 60%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.hinhsp img{
    width: 100%;
    margin: 49px 0
}
.thongtin li{
    list-style-type: none;

}

.khuyenmai{
    font-family: 'Pacifico', cursive;
    color: red
}
.tensp, .giasp{
    width: 100%;
    clear: both;
    font-size: 30px;
    margin: 10px;
    font-weight: bold
}
.giasp{
    color: red;
}

@media screen and (min-width:500px) and (max-width:928px){
    .content{
        width: 100%;
        /* //500px  */
    }
    .sanpham{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width:499px){
    .content{
        width: 450px
    }
    .sanpham{
        width: 430px;
    }
    .thongtin{
        display: none
    }
}